                    header {
                        margin-bottom: 15px;
                        font-size: 60px;
                        color: #432818;
                        text-align: center;
                        text-decoration: underline;
                        background-color: #ffe6a7;
                    }
                    
                    body {
                        background-color: #FFFDBD;
                    }